body {
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: left;
    font-size: 200%;
}

select {
    margin: 10px;
    font-size: large;
    width: 200px;
}

/* label {
} */

input[type=submit] {
    margin-top: 50px;
    font-size: large;
}

input[type=button] {
    margin: 15px;
    width: 150px;
    height: 50px;
}

table {
    font-size: 200%;
}